@import './Base.scss';
.card{
    background-color: $header;
    display: flex;
    flex-direction: column  ;
    color:$logo;
    margin-bottom: 18px;
    border-radius: 5px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.384);
    padding: 10px;
    box-sizing: border-box;
    &-info{
        display: flex;
            &-left{
            font-size: 14px;
            font-weight: 400;
            margin-right: 25px;
            box-sizing: border-box;
            width: 60%;
            max-width: 290px;
            &-header{
                padding: 4px;
                font-size: 18px;
                font-weight: bold;
                border-bottom: 1px solid $koyu;
            }
            &-text{
                line-height: 1.5;
                padding: 6px;
            }
            }
        
             &-right{
                 margin-left: auto;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
    }
    &-buttons{
        padding: 8px;
        margin-left: auto;
        font-size: 10px;
        button{
            font-weight: 700;
            background-color:$logo;
            color:$koyusari;
            border-radius: 5px;
            border:2px solid $koyu;
        }
    }
}